body {
    color: whitesmoke;
    font-family: "Nunito", "Tahoma";
    margin: 0 auto;
}

span {
    font-size: 3rem;
}

button {
    background: #f1eef0;
    -webkit-border-radius: 28;  -moz-border-radius: 28;  border-radius: 28px;;
}

h1 {
    font-weight: 200;
    font-size: 2rem;
}

.headingOffSet {

}

.grid {
    background: rgb(4, 37, 59);
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr;
    grid-auto-rows: minmax(1rem, auto);
    grid-gap: 1rem;
    justify-content: center;
    align-self: center;
    padding: 15rem 15rem 15rem 15rem;
}

.grid2 {
    display: grid;
    background: rgb(48, 48, 48);
}

.one {
    justify-self: center;
    padding-right: 4rem;
}

.two {
    padding-right: 4rem;
}

.three {
    justify-content: flex-start;
    padding-right: 4rem;
}