body {
  font-family: "Tahoma";
  background: whitesmoke;
}

h1 {
  margin: 0;
  padding: 10px;
}

input {
  width: 390px;
}

ul {
  list-style-type: none;
}

.container {
  border: 3px solid black;
  width: 400px;
  margin: 0 auto;
}

.container-2 {
  border: 3px solid black;
  width: 400px;
  margin: 50px auto;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.catcher {
  list-style-type: none;
}